<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.arasolutions.challenge" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Challenge</name>
    <description>
    </description>
    <author email="damien.fourcade@gmail.com" href="">Sogapp</author>
    <platform name="ios" />
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="cli-6.3.0" />
    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="SplashScreen" value="img/sp.png" />
    <preference name="target-device" value="tablet" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="FadeSplashScreenDuration" value="2000" />
    <gap:plugin name="cordova-plugin-device" source="npm" version="1.1.1" />
    <plugin name="cordova-plugin-splashscreen" source="npm" version="4.0.1" />
    <!-- <gap:plugin name="cordova-plugin-whitelist" source="npm" version="1.2.0" /> -->
    <gap:plugin name="cordova-plugin-statusbar" source="npm" version="2.1.0" />
    <!-- <gap:plugin name="cordova-plugin-ionic-keyboard" version="1.0.5" source="npm" /> -->
    <gap:plugin name="cordova-plugin-media" spec="2.1.0" source="npm" />
    <gap:plugin name="cordova-plugin-file" spec="4.1.0" source="npm" />
    <gap:plugin name="cordova-plugin-file-transfer" spec="1.5.0" source="npm" />
    <gap:plugin name="cordova-plugin-camera" spec="2.1.0" source="npm" />
    <gap:plugin name="cordova-plugin-ios-camera-permissions" spec="1.0.4" source="npm" />
    <!--    <gap:plugin name="cordova-plugin-wkwebview-engine" spec="1.0.2" source="npm" /> -->
    <!--     <gap:splash src="resources/ios/splash/Default-Landscape@2x~ipad.png" /> resources/ios/icon/icon-76@2x -->
    <icon src="icon.png" />
    <icon src="res/ios/icon/icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/ios/icon/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/ios/icon/icon-57-2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="res/ios/icon/icon-72-2x.png" gap:platform="ios" width="144" height="144" />
    <!-- iPad -->
    <icon src="res/ios/icon/icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="res/ios/icon/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <!-- Settings Icon -->
    <icon src="res/ios/icon/icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="res/ios/icon/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="res/ios/icon/icon-small@3x.png" gap:platform="ios" width="87" height="87" />
    <!-- Spotlight Icon -->
    <icon src="res/ios/icon/icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="res/ios/icon/icon-40@2x.png" gap:platform="ios" width="80" height="80" />
    <gap:splash gap:platform="ios" src="res/ios/splash/Default-Landscape@2x~ipad.png" width="2048" height="1536" />
    <gap:splash gap:platform="ios" src="res/ios/splash/Default-Landscape~ipad.png" width="1024" height="768" />
    <gap:splash gap:platform="ios" src="res/ios/splash/Default-Landscape-736h.png" width="2208" height="1242" />
    <gap:splash src="splash.png" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
</widget>
